.tooltip-trigger {
    display: inline-block;
    position: relative;
    color: #d3b56a;
}
.tooltip-definition { 
    display: none;
}
.tooltip-trigger:hover > .tooltip-definition {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: calc(50%);
    transform: translateX(-50%);
    padding: 5px;
    border: 1px solid #d3b56a;
    white-space: nowrap;
    color: rgba(28,54,83,0.6);
    background-color: #f8f9fd;
    text-align: left;
}